fastapi
uvicorn
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-multipart
redis>=5.0.0
httpx
alembic
google-generativeai

bcrypt==3.2.2

uvicorn
supabase
cryptography
python-dotenv
psycopg2-binary
